__pycache__/
.python-version
.venv/
*.egg-info
*.py[oc]
build/
dist/
uv.lock
wheels/

.env
.vscode/
data/
no-use/
openapi/
redocly.yaml
src/neiltool/assets/
scripts/*
!scripts/create_tables.py
!scripts/log-config.json
static/
tests/
tmp/
